body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
  width: 1000px;
  margin: auto;
}
table {
  border-collapse: collapse;
  border: solid 3px #333;
  background-image: url(img/mokume.png);
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

th {
  border-collapse: collapse;
  border: solid 1px #333;
  width: 30px;
  height: 30px;
  font-size: 20px;
}
.b-aite {
  transform: scale(-1);
}